<!-- Voice Controls -->
<div class="matrix-grid chord-headers">
  <div></div>
  <div class="chord-header">
    <input type="text" id="chord_m1" placeholder="All Notes" class="chord-input" autocomplete="off">
    <div id="chord_m1_dropdown" class="autocomplete-dropdown"></div>
  </div>
  <div class="chord-header">
    <input type="text" id="chord_m2" placeholder="All Notes" class="chord-input" autocomplete="off">
    <div id="chord_m2_dropdown" class="autocomplete-dropdown"></div>
  </div>
  <div class="chord-header">
    <input type="text" id="chord_m3" placeholder="All Notes" class="chord-input" autocomplete="off">
    <div id="chord_m3_dropdown" class="autocomplete-dropdown"></div>
  </div>
  <div class="chord-header">
    <input type="text" id="chord_m4" placeholder="All Notes" class="chord-input" autocomplete="off">
    <div id="chord_m4_dropdown" class="autocomplete-dropdown"></div>
  </div>
</div>