<!-- Controls -->
<div class="controls-section">
  <div class="master-volume">
    <label class="volume-label">Master Volume:</label>
    <input type="range" id="masterVolume" min="0" max="100" value="40" class="master-volume-slider">
    <span id="masterVolumeValue" class="volume-value">40%</span>
  </div>
  
  <button id="playSATB" class="play-button">
    ▶️ Play Composition
  </button>
</div>